h1{
  margin:0;
  padding:20px;
  border-bottom:1px solid rgb(207, 207, 207);
  background-color: #4d90fe;
  border-radius: 0%;
  color: #ffffff;
  font-family: roboto;
}
nav a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px 0px 0px 0px;
  background-color: #fff;
  font-family: roboto;
  font-size: 15px;
  font-weight: 200;
}

aside{
  background: #ffffff;
  width:350px;height:100vh;
  position:fixed;
  transition:.3s;
  left:-350px;
  top: -15px;;
  transition-timing-function: cubic-bezier(0.9,0,1,1);
}

nav a{
  text-align: center;
}

input[type="text"]::placeholder {
  text-align: center; 
} 

input { 
    text-align: center; 
}

label {
    font-size: 2px;
}


#menu-bar {
  padding-top: 0px;
  text-align: left;
}

.display-plans{
  text-align: center;
}

/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 3em;
}


.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.flex-contianer {
  display: flex;
  justify-content: space-between;
}

#cross{
  padding: 0px 18px;
  background-color: #ffffff;
  border-width: 0px;
  border-color: #4d90fe;
}

#cross:hover{
    border-width: 2px;
}

h1:empty {
    display: none;
  }

#display-plans-1, #display-plans-2, #display-plans-3,
#display-plans-4, #display-plans-5 {
    background-color: transparent;
    color: black;
    border-bottom: auto;
    border-bottom: 2px;
    font-weight:100;
    padding:10px 20px;
}

/*dropdown*/
.showLeft {
  background-color: white !important;
  border: 1px solid white !important;
  text-shadow: white !important;
  color: black !important;
  padding: 10px;
}
.icons li {
  background: none repeat scroll 0 0 black;
  height: 5px;
  width: 5px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}
.btn-left {
  left: 0.4em;
}
.btn-right {
  right: 1px;
}
.btn-left,
.btn-right {
  position: absolute;
  top: 0.24em;
}

.dropbtn {
  background-color: #4caf50;
  position: absolute;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}
.dropdown {
  position: absolute;
  display: inline-block;
  right: 0.4em;
}
.dropdown-content {
  display: none;
  position: relative;
  margin-top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

#dots {
  margin: 2px 15px 2px 0px;
}
/*alert box*/
/* Set a style for all buttons */

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.deletecontainer {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}
/*button*/
.modal-btn, .modal-btn2,
.modal-btn3, .modal-btn4 {
  font-size: 30px;
  text-align: center;
  padding:0%;
  margin:0;
  border: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  color: #4d90fe;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: grey;
}

.close:hover,
.close:focus {
  color: grey;
  cursor: pointer;
  font-weight:200px;


}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* modal stuff */

.bg-modal, .bg-modal2,
.bg-modal3, .bg-modal4 {
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
position: fixed;
top:0;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000000;
visibility: hidden;
opacity: 0;
transition: all var(--transition-speed);
transform: translateY(5px);
}

.bg-active {
visibility: visible;
opacity: 1;
transform: translateY(0);
}

.close-cal, .close-cal2,
.close-cal3, .close-cal4 {
position: absolute;
top: 0;
right: 14px;
font-size: 42px;
transform: rotate(45deg);
/* cursor: pointer; */
color: black;
}

/*ADD TITLE POPUP*/
#contact {
background: #ffffff;
color: #4d90fe;
padding: 40px;
border-radius: 4px;
position: relative;
width: 600px;
height: 500px;
}

#contact h1 {
text-align: center;
}

.contact-form {
max-width: 700px;
margin: auto;
padding: 0 10px;
overflow: hidden;

}

.contact-form-text {
display: block;
width: 100%;
box-sizing: border-box;
margin: 16px 0;
border: 0;
background: var(--bg-sec);
font-family: var(--font-mono);
padding: 20px 40px;
outline: none;
color: rgb(0, 0, 0);
transition: var(--transition-speed);
font-size: 17px;
text-align: left;
}

.contact-form-text:focus {
box-shadow: 0 0 0px 2px #e8e8e8a3;
}


.contact-form-btn {
float: right;
border: 0;
background: var(--bg-sec);
color: #a2a2a2;
padding: 0px;
border-radius: 20px;
cursor: pointer;
transition: var(--transition-speed);
}

.contact-form-btn:hover {
background: var(--hl-sec);
color:#4d90fe ;
font-weight: 800;

}
.time-container{
  align-items: center;
}
#contact-form-text{
  border-color: grey;

}

.watch-container{
  position: absolute;
  right: 8px;
  bottom: 2;
}