h1{
  margin:0;
  padding:20px;
  border-bottom:1px solid rgb(207, 207, 207);
  background-color: #4d90fe;
  border-radius: 0%;
  color: #ffffff;
  font-family: roboto;
}

aside{
  background: #ffffff;
  width:350px;height:100vh;
  position:fixed;
  transition:.3s;
  left:-350px;
  top:0;
  transition-timing-function: cubic-bezier(0.9,0,1,1);
}

nav a{
  text-align: center;
}

input[type="text"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: center; 
            } 

input { 
    text-align: center; 
}

label {
    font-size: 2px;
}

#menu-bar {
  padding-top: 0px;
  text-align: left;
}

.display-plans{
  text-align: center;
}

/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 2em;
}


.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.flex-contianer {
  display: flex;
  justify-content: space-between;
}

#cross{
  padding: 0px 18px;
  background-color: #ffffff;
  border-width: 0px;
  border-color: #4d90fe;
}

#cross:hover{
    border-width: 2px;
}

h1:empty {
    display: none;
  }