/* add css to all */
/* * {
  padding: 0;
  margin: 0;
} */

/* #map {
  height: 700px;
  width: 100%;
} */

html, body, #map {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

#wrapper { position: relative; height: 100%;}
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
/* For testing */
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: absolute;
  height: 0;
}

#searchInput {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 60px;
  /* padding: 0 11px 0px 11px; */
  text-overflow: ellipsis;
  height: 33px;
  width: 400px;
  right: -50px;
  border-radius: 4px;
}

#searchInput:focus {
  box-shadow: 0 0 10px #4d90fe;
}


.toggle:hover {
  box-shadow: 0 0 10px #4d90fe;
}

nav a#img:hover {
  border-color: #4d90fe;
  border-width: 1px;
  border-style: solid;}
  nav a#stop_timer:hover {
    border-color: #4d90fe;
    border-width: 1px;
    border-style: solid;}
  

/* ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
} */

/* Sidebar Toggle */

button:focus{
  outline:none
}

h1{
  margin:0;
  padding:10px;
  border-bottom:1px solid rgb(207, 207, 207);
  /* background-color: #4d90fe; */
  border-radius: 0%;

}
img {
  border-radius: 0%;
}

aside{
  background:#ffffff;
  width:350px;height:100vh;
  position:fixed;
  transition:.3s;
  left:-350px;
  top:0;
  transition-timing-function: cubic-bezier(0.9,0,1,1);
  z-index:1;
  overflow: auto;
}

aside.close{
  left:0;
  top: auto;
  transition:.3s;
  transition-timing-function: cubic-bezier(0.9,0,1,1);
}

nav a{
  display: block;
  color:#000000;
  text-decoration:none;
  padding: 10px 0px 0px 0px;; 
  background-color: #fff;
  font-family: roboto;
  font-size: 13px;
}


nav a:hover{
  color: #4d90fe;
} 

.toggle{
  border:black;
  background:transparent;
  position: fixed;
  left: 4.7%;
  top: 2.8%;
  vertical-align: middle;  
  font-size:30px;
  /* transform:rotate(180deg); */
  display:inline-block;
  cursor:pointer;
  color:black;
  padding: 0px 5px 0px 5px; 
  border-radius: 4px;
  z-index: -1;
}

/* stop watch */